* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  transition: all 300ms ease;
}

body {
  background: #fafafa;
  font-family: Montserrat;
  color: #fff;
  font-style: normal;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #111;
  cursor: pointer;
  transition: all 300ms ease;
}

ul > li {
  list-style-type: none;
}

.container {
  width: 1136px;
  /* padding: 0 32px; */
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #111;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.42px;
  display: flex;
  gap: 4px;
}

.logo-part {
  font-style: italic;
  color: #111;
}

.logo-icon {
  fill: #fcf1e0;
  stroke: #fd9222;
}

/* main page */

.main-page {
  background-image: url("../images/chocolate_main.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 80px;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  padding: 381px 40px 40px;
  gap: 32px;
}

.main-page-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.84px;
  max-width: 484px;
  flex-shrink: 0;
}

.main-btn-buy,
.scroll-btn-text,
.main-btn-desc {
  display: flex;
  color: #fff;
  font-weight: 600;
}

.main-btn-buy:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.main-btn-desc:hover {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.scroll-btn:hover .scroll-btn-text {
  color: #fd9222;
}

.scroll-btn:hover .scroll-down-icon {
  fill: #ffffff;
  background-color: #fd9222;
}

.main-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-2-btns {
  display: flex;
  gap: 14px;
  align-items: center;
}

.main-btn-buy {
  border-radius: 100px;
  background: #fd9222;
  padding: 14px 40px;
  border: none;
  cursor: pointer;
}

.main-btn-desc {
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
  cursor: pointer;
}

.scroll-down-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.scroll-down-icon {
  background-color: #fff;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 8px;
  cursor: pointer;
  fill: #fd9222;
}

.scroll-btn {
  display: flex;
  gap: 22px;
  align-items: center;
}

/* about section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about {
  background: #1e1823;
  padding: 50px 18px;
}

.about-list {
  display: flex;
  gap: 88px;
  padding: 18px;
  align-items: flex-start;
}

.about-list-item {
  display: flex;
  flex-direction: column;
  gap: 22px;
  position: relative;
}

.about-list-item:nth-child(n + 2)::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 124px;
  top: 60px;
  left: -44px;
}

.about-icons {
  display: flex;
  width: 62px;
  height: 62px;
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  fill: #fd9222;
}

.about-list-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.about-subtitle {
  font-size: 18px;
  font-weight: 600;
}

.about-desc {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

/* tastes section */

.tastes {
  padding-top: 120px;
}

.tastes-title,
.title-part {
  width: 412px;
  color: #111;
  text-align: center;
  margin: 0 auto 50px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.title-part {
  color: #fd9222;
}

.tastes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
}

.tastes-list-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 96px) / 4);
  height: 270px;
  gap: 36px;
  position: relative;
}

.tastes-arrow-icon {
  position: absolute;
  right: 14px;
  top: 14px;
}

.white-arrow {
  stroke: #fafafa;
  fill: transparent;
}

.orange-arrow {
  fill: transparent;
  stroke: #fd9222;
}

.background-orange {
  border-radius: 15px;
  background: #fd9222;
}

.background-white {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
}

.background-black {
  border-radius: 15px;
  background: #1e1823;
}

.tastes-image {
  width: 214px;
  height: 160px;
  margin: 28px auto 0;
}

.tastes-name {
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding-left: 28px;
}

.black {
  color: #111;
}

/* how it's made section */

.how-made-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin: 120px 0 50px;
}

.content {
  display: flex;
  height: 400px;
  gap: 20px;
  flex-basis: 100%;
}

.text-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 15px;
  background: #fff;
  flex-basis: 40%;
}

.text-content-subtitle {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 28px;
}

.text-content-list-item {
  color: #111;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  list-style-type: disc;
}

.text-content-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.how-made-img {
  flex-basis: 60%;
  border-radius: 15px;
  background: linear-gradient(
      0deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(<path-to-image>),
    lightgray -10.819px -343.839px / 103.473% 236.295% no-repeat;
}

/* products section */

.products-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin: 120px 0 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 18px;
}
.products-list-item {
  width: calc((100% - 56px) / 4);
  height: 364px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}

.product-img {
  margin: 32px auto 0;
}

.product-name {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
}

.product-taste {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
  text-align: center;
  margin-top: 2px;
}

.buy-product {
  display: block;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  width: 98px;
  padding: 8px 20px;
  color: #111;
  font-size: 14px;
  font-weight: 600;
  margin: 18px auto 0;
}

/* top seller section */

.top-sellers-title {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin: 120px 0 50px;
  text-align: center;
}

.top-sellers-list {
  display: flex;
  gap: 16px;
}

.top-sellers-list-item {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 0px 0px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  width: calc((100% - 32px) / 3);
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}

.top-sellers-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  color: #111;
  margin: 28px auto;
}

.seller-overlay {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  transform: translateY(100%);
  transition: transform 400ms linear;
  display: flex;
  align-items: center;
}

.top-sellers-list-item:hover .seller-overlay {
  transform: translateY(0%);
}

.overlay-text {
  color: #fafafa;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding: 40px;
}

.top-sellers-img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 100%;
}

/* testimonials section */

.testimonials-title {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  text-align: center;
}

.testimonials-list {
  display: flex;
  gap: 28px;
}

.testimonials-list-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.04932px 100px 0px rgba(17, 17, 17, 0.03);
  height: 200px;
  position: relative;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
}

.testimonials-person-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40px);
}

.testimonials-person-name {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.testimonials-person-feedback {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding: 0 24px 24px;
}

.testimonials-leave-review {
  display: block;
  width: 222px;
  height: 50px;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fd9222;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 50px auto 120px;
}

.testimonials-leave-review:hover {
  background-color: #fd9222;
  color: #ffffff;
}

/* footer section */

.footer {
  height: 298px;
  background: #1e1823;
  padding-top: 50px;
}

.footer-title {
  color: #fff;
  font-weight: 500;
  line-height: 34px;
  width: 300px;
}

.footer-title-part {
  color: #fd9222;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts {
  display: flex;
  gap: 50px;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-start;
}

.footer-link-icon {
  fill: #ffffff;
}

.footer-media-link:hover .footer-link-icon {
  transition: all 300ms ease;
  fill: #fd9222;
}

.footer-media-links {
  display: flex;
  gap: 8px;
}

.footer-media-link {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px;
}

.footer-media-link:hover {
  border: 1px solid rgba(253, 146, 34, 0.1);
}

.contact-title,
.social-title {
  color: #fff;
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contact-info-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contact-link {
  color: #fff;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  font-style: normal;
}

.devider {
  background: rgba(255, 255, 255, 0.1);
  height: 0px;
}

.nav-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-list {
  display: flex;
  gap: 24px;
}

.footer-nav-item {
  color: #fff;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-form-input {
  width: 313px;
  height: 52px;
  padding: 14px 24px;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background: transparent;
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.footer-subscribe-btn {
  border-radius: 100px;
  background: #fd9222;
  width: 137px;
  height: 52px;
  color: #fff;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(115, 115, 115, 0.29);
  backdrop-filter: blur(0.5px);
}

/* modal window */

.modal {
  width: 517px;
  height: 794px;
  border-radius: 15px;
  background: #fafafa;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background-color: inherit;
  border: none;
  position: absolute;
  right: 24px;
  top: 24px;
}

.modal-title {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 298px;
}

.modal-title-part {
  color: #fd9222;
}

.modal-form {
  margin-top: 40px;
}

.form-input {
  width: 100%;
  height: 69px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 3.44492px 3.44492px 0px rgba(0, 0, 0, 0.03);
  margin: 8px 0 18px;
  color: #4040404d;
  padding-left: 52px;
}
.input-label {
  color: rgba(64, 64, 64, 0.3);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.textarea {
  height: 115px;
  resize: none;
}

.modal-btn {
  display: inline-flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
  border: none;
  margin-top: 40px;
}

.modal-check-label {
  color: rgba(17, 17, 17, 0.6);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  display: flex;
  align-items: center;
}

.false-checkbox {
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: flex;
  width: 20px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  fill: transparent;
}

.terms-link {
  color: #fd9222;
  text-decoration: underline;
  margin-left: 4px;
}

.input-chekbox:checked + .modal-check-label > .false-checkbox {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}

.input-wrapper {
  position: relative;
}

.input-svg-icon {
  stroke: #404040;
  fill: transparent;
  position: absolute;
  left: 24px;
  top: 53%;
  transform: translate(0, -53%);
}

.form-input:focus {
  border-color: #fd9222;
}

.form-input:focus + .input-svg-icon {
  stroke: #fd9222;
}

.textarea {
  padding: 22px 0 0 24px;
}

.textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.is-open {
  display: none;
}

@media (min-width: 375px) {
  .container {
    margin: 0 auto;
    max-width: 375px;
    padding: 0 20px;
  }

  .header-wrapper {
    padding: 20px 0 14px;
  }

  .logo {
    font-size: 14px;
  }

  .nav-bar {
    display: none;
  }

  .burger-menu-icon {
    stroke: #111111;
  }

  .main-page-title {
    line-height: 24px;
    letter-spacing: -0.6px;
    font-size: 20px;
    width: 280px;
  }

  .main-page {
    background-position: 75% 0%;
  }

  .main-page-content {
    padding: 363px 20px 20px;
  }
  .main-buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .main-btn-buy,
  .main-btn-desc {
    padding: 12px 28px;
    font-size: 14px;
  }

  .about {
    padding: 20px 0;
  }

  .about-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  .about-list-item:nth-child(n + 2)::before {
    display: none;
  }

  .about-list-item {
    width: 308px;
  }

  .about-list-content {
    gap: 18px;
  }

  .tastes,
  .products,
  .how-made,
  .top-sellers,
  .testimonials {
    padding-top: 80px;
  }

  .tablet-how-made {
    display: none;
  }

  .tastes-title {
    width: 283px;
    font-size: 20px;
    letter-spacing: -0.6px;
    margin: 0 auto 32px;
  }

  .tastes-list {
    flex-direction: column;
  }

  .tastes-list-item {
    width: 100%;
  }

  .how-made-img {
    display: none;
  }

  .modile-how-made {
    height: 500px;
    border-radius: 15px;
    background: linear-gradient(
        0deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(<path-to-image>),
      lightgray -158.445px -335.767px / 187.796% 186.969% no-repeat;
  }

  .content {
    flex-direction: column;
    gap: 20px;
    height: fit-content;
  }

  .top-sellers-title,
  .how-made-title,
  .products-title {
    margin: 0 0 32px;
    font-size: 20px;
  }

  .testimonials-title {
    margin-bottom: 72px;
    font-size: 20px;
  }

  .products-list {
    flex-direction: column;
    gap: 32px;
  }

  .products-list-item {
    width: 100%;
  }

  .top-sellers-list {
    flex-direction: column;
  }

  .top-sellers-list-item {
    width: 100%;
    border-radius: 15px;
  }

  .testimonials-list {
    flex-direction: column;
    gap: 80px;
    display: flex;
  }

  .testimonials-list-item {
    padding-top: 40px;
    width: 100%;
  }

  .testimonials-leave-review {
    margin: 32px auto 80px;
  }

  .footer {
    height: fit-content;
    padding: 32px 0;
    font-size: 14px;
  }

  .footer-title {
    font-size: 24px;
    letter-spacing: -0.48px;
  }

  .contacts-wrapper,
  .contacts,
  .nav-form {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }

  .devider {
    margin: 32px 0;
  }

  .footer-nav-list {
    align-items: flex-start;
    flex-direction: column;
    gap: 18px;
  }

  .footer-form {
    gap: 8px;
  }

  .footer-form-input {
    padding: 14px 18px;
    width: 207px;
    font-size: 14px;
    height: 45px;
  }

  .footer-subscribe-btn {
    width: 120px;
    padding: 14px 26px;
    font-size: 14px;
    height: 45px;
  }

  .footer-link-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .nav-bar {
    display: unset;
  }

  .nav-bar {
    display: flex;
    gap: 28px;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 20px;
  }

  .nav-list-item {
    color: #111;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
  }

  .social-media-links {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .social-media-link {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    cursor: pointer;
  }

  .social-media-link:hover {
    border: 1px solid rgba(253, 146, 34, 0.1);
  }

  .social-media-link:hover .social-link-icon {
    fill: #fd9222;
    transition: all 300ms ease;
  }

  .burger-menu {
    display: none;
  }

  .header-wrapper {
    padding: 24px 0;
    align-items: center;
    justify-content: space-between;
    gap: 47px;
  }

  .main-page {
    background-position: 65% 0%;
  }

  .main-page-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    width: unset;
  }

  .main-page-content {
    padding: 431px 40px 40px;
  }

  .main-buttons {
    flex-direction: row;
  }

  .about {
    padding: 50px 0;
  }

  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 88px;
  }

  .tastes,
  .products,
  .how-made,
  .top-sellers,
  .testimonials {
    padding-top: 100px;
  }

  .products-list,
  .tastes-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .products-list-item,
  .tastes-list-item {
    width: calc((100% - 32px) / 2);
  }

  .modile-how-made {
    display: none;
  }

  .tablet-how-made {
    display: unset;
  }

  .content {
    padding: 0 45px;
    gap: 20px;
  }

  .top-sellers-list,
  .testimonials-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 56px 16px;
  }

  .top-sellers-list-item,
  .testimonials-list-item {
    width: calc((100% - 16px) / 2);
  }

  .testimonials-title {
    margin-bottom: 90px;
    font-size: 20px;
  }

  .testimonials-leave-review {
    margin: 50px auto 100px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer-title {
    font-size: 28px;
    letter-spacing: -0.56px;
  }

  .contacts-wrapper {
    flex-direction: row;
    gap: 52px;
  }

  .contacts {
    flex-direction: row;
    gap: 40px;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 16px;
  }

  .footer-form {
    flex-direction: row;
    gap: 8px;
  }

  .nav-form {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  .devider {
    margin: 50px 0 24px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1136px;
    padding: 0 32px;
  }

  .top-sellers-list {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  .testimonials-list {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
  }

  .top-sellers-list-item {
    width: calc((100% - 56px) / 3);
  }

  .testimonials-list-item {
    width: calc((100% - 32px) / 3);
  }

  .products-list,
  .tastes-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 18px;
  }

  .products-list-item,
  .tastes-list-item {
    width: calc((100% - 54px) / 4);
  }

  .tastes,
  .products,
  .how-made,
  .top-sellers,
  .testimonials {
    padding-top: 120px;
  }

  .about {
    padding: 50px 18px;
  }

  .about-list {
    flex-wrap: nowrap;
  }

  .about-list-item:nth-child(n + 2)::before {
    display: unset;
  }

  .modile-how-made,
  .tablet-how-made {
    display: none;
  }

  .how-made-img {
    display: unset;
  }
  .content {
    flex-direction: row;
    padding: 0;
  }
}
